<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.devTayu.tayu">

    <!-- Permission  -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"

        android:icon="@mipmap/ic_launcher_bus"
        android:roundIcon="@mipmap/ic_launcher_bus_round"

        android:supportsRtl="true"
        android:theme="@style/Theme.TaYu"
        android:usesCleartextTraffic="true">

        <!--APP KEY-->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="a697f737083608190f828c2820f276ee"/>

        <activity
            android:name="org.devTayu.tayu.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>